.cabecalho{
    background-color: var(--bg-chamada-mobile);
    color: var(--branco);
    font-family: var(--open-sans);
    font-weight: 400;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid var(--borda-cabecalho-mobile);
    
}


.cabecalho__lista{
    display: inline-flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 2.5rem 1rem 2.5rem;
    
}

.cabecalho__item{
    padding-bottom: 1rem;
}


.cabecalho__link{
    display: inline-block;
    padding-left: 1rem;
}

