.rodape{
    background-color: var(--bg-rodape);
    align-items: center;
    text-align: center;
    padding: 2rem 1rem 0rem 1rem;
}

.rodape__medias{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 4rem;
}

.rodape__links{
    color: var(--branco);
    font-family: var(--open-sans);
    font-size: 1rem;
    text-align: center;
}

.rodape__item-link{
    padding-bottom: 2rem;
}